<section class='container flex flex--column'>
  <% if current_user %>
    <p>Hello, <%= current_user.name %>!</p>
    <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  <% else %>
    <p>
      You are not signed in.
      Please sign in to continue.
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
    </p>

  <% end %>

  <% @users.each do |user| %>
    <%= render partial: 'shared/single_user', locals: { user: user } %>
  <% end %>
</section>